/app/tmp
/app/tmp/cache
/lib/Cake/Console/Templates/skel/tmp/
.DS_Store
/app/.DS_Store
app/tmp/cache/models/myapp_cake_model_default_educare_attendances

app/tmp/cache/models/myapp_cake_model_default_educare_students

app/tmp/cache/models/myapp_cake_model_default_educare_schools

app/tmp/cache/models/myapp_cake_model_default_educare_list

app/tmp/cache/models/myapp_cake_model_default_educare_grades

app/tmp/cache/models/myapp_cake_model_default_educare_users

app/tmp/cache/persistent/myapp_cake_core_cake_console_ita

app/tmp/cache/persistent/myapp_cake_core_cake_dev_ita

app/tmp/cache/persistent/myapp_cake_core_cake_ita

app/tmp/cache/persistent/myapp_cake_core_default_ita

app/tmp/cache/persistent/myapp_cake_core_file_map

app/tmp/cache/persistent/myapp_cake_core_method_cache
